body {
  background-color: #f0f0f0;
}
.breadcrumb {
  margin-bottom: 0;
}
.item-manga {
  margin-bottom: 20px;
}
.manga-name {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 16px;        /* fallback */
  max-height: 32px;       /* fallback */
}

.item-manga-cover {
  width: 200px;
}
.item-manga-cover img {
  max-width: 200px;
  max-height: 200px;
}

@media (max-width: 768px) {
  .item-manga-cover {
    width: 100px;
  }
  .item-manga-cover img {
    max-width: 100px;
    max-height: 100px;
  }
}

table.items tr.item-file,
table.items tr.item-folder,
table.items tr.item-manga {
  cursor: pointer;
}
.icon-invisible {
  visibility: hidden;
}
#previewModal .modal-dialog {
  margin: 5px auto;
  width: calc(100% - 85px);
}
#previewModal .modal-header {
  padding: 5px 15px;
}
#previewModal .modal-content {
  border: 1px solid black;
  border-radius: 0;
}
/*#previewModal .modal-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}*/
@media (max-width: 768px) {
  #previewModal .modal-dialog {
    /*width: calc(100% - 15px);*/
    margin: 0px auto;
    width: 100%;
  }
}
#file-preview-body {
  padding: 0;
  background: black;
}
#file-preview-header {
  position: absolute;
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  color: white;
  /*background-color: rgba(128, 128, 128, 0.35);*/
  background-color: transparent;
  z-index: 3001;
}
#file-preview-header-nav {
  background-color: rgba(128, 128, 128, 0.35);
  color: white;
  border-radius: 4px;
  padding: 3px 10px;
}
#file-preview-file-info-container {
  position: absolute;
  left: 10px;
}
@media (max-width: 768px) {
  #file-preview-file-info-container {
    top: 30px;
    color: white;
    background-color: rgba(128, 128, 128, 0.35);
    border-radius: 4px;
    padding: 5px;
  }
  #file-preview-file-info {
    display: none;
  }
  #file-preview-file-info-container:hover #file-preview-file-info {
    display: inline-block;
  }
}
.file-preview-button {
  color: rgb(170, 170, 170);
}
.file-preview-button:hover,
.file-preview-button:active,
.file-preview-button:focus {
  color: white;
}
.file-preview-small-button {
  z-index: 3001;
  background-color: rgba(49, 49, 49, 0.68);
  border-radius: 4px;
  padding: 5px 5px;
}
.file-preview-big-button {
  z-index: 3001;
  background-color: rgba(49, 49, 49, 0.68);
  border-radius: 4px;
  padding: 10px 10px 10px;
}
#file-preview-close {
  position: absolute;
  top: 3px;
  right: 3px;
}
#file-preview-close a {
  text-decoration: none;
}
#file-preview-actions {
  position: absolute;
  top: 3px;
  right: 3px;
  vertical-align: top;
  max-width: 60px;
}
#file-preview-actions .file-preview-big-button {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
/*#file-preview-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}
#file-preview-image-resize-button {
  position: absolute;
  top: 50px;
  right: 10px;
  text-decoration: none;
}*/
#file-preview-title-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 60px;
  z-index: 3001;
}
#file-preview-title {
  color: white;
  background-color: rgba(49, 49, 49, 0.68);
  border-radius: 4px;
  padding: 3px 10px;
}
#file-preview-load-more-button-container {
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: 3002;
  text-align: center;
  width: 100%;
}
#file-preview-load-more-button {
  background-color: rgba(49, 49, 49, 0.68);
  border-radius: 4px;
  padding: 5px 10px 5px;
}
#file-preview-content {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll;
}
#file-preview-content img.fit {
  max-width: 100%;
  max-height: 100%;
}
#file-preview-content img.fit-width {
  max-width: 100%;
}
#file-preview-content img.fit-height {
  max-height: 100%;
}
#file-preview-content img.max {
  max-width: none;
  max-height: none;
}
#file-preview-content img.original {
  max-width: none;
  max-height: none;
}
#file-preview-content img.extra {
  display: block;
  margin: 5px auto;
  min-height: 300px;
}
#file-preview-content video {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
}
#file-preview-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 90%;
  z-index: 3000;
  cursor: pointer;
}
#file-preview-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 90%;
  z-index: 3000;
  cursor: pointer;
}
@media (max-width: 768px) {
  #file-preview-left,
  #file-preview-right {
    width: 40px;
  }
}
.item-file-extra {
  font-size: 12px;
  color: grey;
  margin-bottom: 0;
  /*padding-left:21px;*/
}
#notification-pane {
  position: fixed;
  z-index: 3003;
  top: 10px;
  right: 10px;
  border: 1px solid grey;
  max-width: 300px;
  padding: 10px;
}
#notification-title {
  font-weight: bold;
}
#notification-message {
  font-size: 12px;
  color: grey;
  overflow: hidden;
  text-overflow: ellipsis;
}
#zoom-control {
  position: fixed;
  bottom: 100px;
  width: 100%;
  background: transparent;
  text-align: center;
}
#zoom-control-inner {
  margin: 0 auto;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
  background-color: rgba(0,0,0,0.6);
  color: #ffffff;
}
#zoom-control a {
  color: rgb(170, 170, 170);
}
#zoom-control a:hover,
#zoom-control a:active {
  color: #ffffff;
}
.vertical-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.grid-item {
  /*width: calc(20% - 10px);*/
  /*width: calc(20% - 0px);*/
  width: calc(16.67% - 10px);
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
}
@media (max-width: 992px) {
  .grid-item {
    width: calc(25% - 10px);
    /*width: calc(25% - 0px);*/
    /*width: calc(20% - 10px);*/
  }
}
@media (max-width: 768px) {
  .grid-item {
    width: calc(33% - 10px);
    /*width: calc(33% - 0px);*/
  }
}
@media (max-width: 488px) {
  .grid-item {
    width: calc(50% - 10px);
    /*width: calc(50% - 0px);*/
  }
}
.grid-item img {
  max-height: 250px;
  margin: 0 auto;
  max-width: 80%;
  /*vertical-align: middle;*/
}
.grid-item .item-thumb-container,
.grid-item .item-thumb-container a {
  position: relative;
}
.grid-item .item-name {
  text-overflow: ellipsis;
}
.grid-item .item-extra {
  background-color: #46ad30;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #fff;
  padding: 2px 10px;
  z-index: 300;
}