
body {
  background-color: #f0f0f0;
}
ul#sidebar-list li>a {
  padding: 8px 10px;
  color: #333;
}
ul#sidebar-list li>a:hover,
ul#sidebar-list li>a:active,
ul#sidebar-list li.active>a,
ul#sidebar-list li.active>a:hover,
ul#sidebar-list li.active>a:active {
  /*color: #337ab7;*/
  background: rgba(153,153,153,0.4);
  border-radius: 4px;
}
.content {
  background-color: transparent;
}
.breadcrumb {
  background-color: transparent;
}
ol.breadcrumb {
  margin-bottom: 0;
}
.border-top {
  border-top: 1px solid #dee2e6;
}
.padding-y-1 {
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
}
.table-borderless > tbody > tr > td {
  border: none;
}
.panel-body {
  overflow: hidden;
}
.item-manga {
  margin-bottom: 20px;
}
.manga-name {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 16px;        /* fallback */
  max-height: 32px;       /* fallback */
}

.item-manga-cover {
  width: 200px;
}
.item-manga-cover img {
  max-width: 200px;
  max-height: 200px;
}

@media (max-width: 768px) {
  .item-manga-cover {
    width: 100px;
  }
  .item-manga-cover img {
    max-width: 100px;
    max-height: 100px;
  }
}

table.items tr.item-file,
table.items tr.item-folder,
table.items tr.item-manga {
  cursor: pointer;
}
.icon-invisible {
  visibility: hidden;
}
#previewModal .modal-dialog {
  margin: 5px auto;
  width: calc(100% - 85px);
}
#previewModal .modal-header {
  padding: 5px 15px;
}
#previewModal .modal-content {
  border: 1px solid black;
  border-radius: 0;
}
/*#previewModal .modal-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}*/
@media (max-width: 768px) {
  #previewModal .modal-dialog {
    /*width: calc(100% - 15px);*/
    margin: 0px auto;
    width: 100%;
  }
}
#file-preview-body {
  padding: 0;
  background: black;
}
#file-preview-header {
  position: absolute;
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  color: white;
  /*background-color: rgba(128, 128, 128, 0.35);*/
  background-color: transparent;
  z-index: 3001;
}
#file-preview-header-nav {
  background-color: rgba(128, 128, 128, 0.35);
  color: white;
  border-radius: 4px;
  padding: 3px 10px;
}
#file-preview-file-info-container {
  position: absolute;
  left: 10px;
}
@media (max-width: 768px) {
  #file-preview-file-info-container {
    top: 30px;
    color: white;
    background-color: rgba(128, 128, 128, 0.35);
    border-radius: 4px;
    padding: 5px;
  }
  #file-preview-file-info {
    display: none;
  }
  #file-preview-file-info-container:hover #file-preview-file-info {
    display: inline-block;
  }
}
.file-preview-button {
  color: rgb(170, 170, 170);
}
.file-preview-button:hover,
.file-preview-button:active,
.file-preview-button:focus {
  color: white;
}
.file-preview-small-button {
  z-index: 3001;
  background-color: rgba(49, 49, 49, 0.68);
  border-radius: 4px;
  padding: 5px 5px;
}
.file-preview-big-button {
  z-index: 3001;
  background-color: rgba(49, 49, 49, 0.68);
  border-radius: 4px;
  padding: 10px 10px 10px;
}
#file-preview-close {
  position: absolute;
  top: 3px;
  right: 3px;
}
#file-preview-close a {
  text-decoration: none;
}
#file-preview-actions {
  position: absolute;
  top: 3px;
  right: 3px;
  vertical-align: top;
  max-width: 60px;
}
#file-preview-actions .file-preview-big-button {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
/*#file-preview-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}
#file-preview-image-resize-button {
  position: absolute;
  top: 50px;
  right: 10px;
  text-decoration: none;
}
#file-preview-open-external-button {
  position: absolute;
  top: 90px;
  right: 10px;
  text-decoration: none;
}
#file-preview-open-manga-viewer {
  position: absolute;
  top: 130px;
  right: 10px;
  text-decoration: none;
}*/
#file-preview-title-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 60px;
  z-index: 3001;
}
#file-preview-title {
  color: white;
  background-color: rgba(49, 49, 49, 0.68);
  border-radius: 4px;
  padding: 3px 10px;
}
#file-preview-load-more-button-container {
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: 3002;
  text-align: center;
  width: 100%;
}
#file-preview-load-more-button {
  background-color: rgba(49, 49, 49, 0.68);
  border-radius: 4px;
  padding: 5px 10px 5px;
}
#file-preview-content {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll;
}
#file-preview-content img.fit {
  max-width: 100%;
  max-height: 100%;
}
#file-preview-content img.fit-width {
  max-width: 100%;
}
#file-preview-content img.fit-height {
  max-height: 100%;
}
#file-preview-content img.max {
  max-width: none;
  max-height: none;
}
#file-preview-content img.original {
  max-width: none;
  max-height: none;
}
#file-preview-content img.extra {
  display: block;
  margin: 5px auto;
  min-height: 300px;
}
#file-preview-content video {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
}
#file-preview-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 90%;
  z-index: 3000;
  cursor: pointer;
}
#file-preview-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 90%;
  z-index: 3000;
  cursor: pointer;
}
@media (max-width: 768px) {
  #file-preview-left,
  #file-preview-right {
    width: 40px;
  }
}
.item-file-extra {
  font-size: 12px;
  color: grey;
  margin-bottom: 0;
  /*padding-left:21px;*/
}
#notification-pane {
  position: fixed;
  z-index: 3003;
  top: 10px;
  right: 10px;
  border: 1px solid grey;
  max-width: 300px;
  padding: 10px;
}
#notification-title {
  font-weight: bold;
}
#notification-message {
  font-size: 12px;
  color: grey;
  overflow: hidden;
  text-overflow: ellipsis;
}
#zoom-control {
  position: fixed;
  bottom: 100px;
  width: 100%;
  background: transparent;
  text-align: center;
}
#zoom-control-inner {
  margin: 0 auto;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
  background-color: rgba(0,0,0,0.6);
  color: #ffffff;
}
#zoom-control a {
  color: rgb(170, 170, 170);
}
#zoom-control a:hover,
#zoom-control a:active {
  color: #ffffff;
}

a.filter-tag {
  text-transform: capitalize;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
li.nav-head {
  font-size: 12px;
  padding-left: 17px;
  color: #aaaaaa;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.manga-grid-item {
  width: calc(20% - 5px);
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: top;
}
/*@media (min-width: 1200px) {
  .manga-grid-item {
    width: calc(16.67% - 5px);
  }
}*/
@media (max-width: 992px) {
  .manga-grid-item {
    width: calc(25% - 5px);
  }
}
@media (max-width: 768px) {
  .manga-grid-item {
    width: calc(33% - 5px);
  }
}
@media (max-width: 488px) {
  .manga-grid-item {
    width: calc(50% - 5px);
  }
}
.manga-grid-item img {
  max-height: 250px;
  margin: 0 auto;
  /*box-shadow: 0 0 5px rgba(0,0,0,.25);*/
  box-shadow: #999 0 1px 4px;
}
.manga-cover-container {
  margin-bottom: 10px;
  padding: 5px;
}
.manga-grid-item-text {
  text-align: center;
  margin-bottom: 10px;
}
